on property:persist.sys.topaz.dt2w=0
    exec /system/bin/sendevent /dev/input/event5 0 1 4

on property:persist.sys.topaz.dt2w=1
    exec /system/bin/sendevent /dev/input/event5 0 1 5
on post-fs
    # Override stock audio_policy_configuration.xml
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    # Override libgf_hal.so
    mount none /system/lib64/libgf_hal.so.patched /vendor/lib64/libgf_hal.so bind
    # Override default thermal to fix QC
    mount none /system/etc/thermal-normal.conf /vendor/etc/thermal-normal.conf bind